body {
 font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック",
  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
  "メイリオ", sans-serif;
 background-color: #fff;
 color: #13191b;
 line-height: 1.7;
 font-size: 13px;
}

// レスポンシブ対応
//ブレイクポイント
$computer: 900px;

@mixin sp {
 @media screen and (max-width: $computer) {
  @content;
 }
}


.pc-only {
 @include sp {
  display: none;
 }
}

.l-header {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding: 40px 0 0 0;
 z-index: 1;
 display: flex;
 gap: 30%;
 align-items: center;

 @include sp {
  display: block;
 }
}

.m-site-logo {
 margin-left: 7%;

 &__link {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
 }
}

.pc-site-logo__img {
 display: flex;
 width: 266px;
 height: 72px
}

.m-nav {
 display: flex;

 @include sp {
  margin: 0;
 }

 &__item {
  display: flex;
  justify-content: center;
  gap: 40px;
 }

 &__list {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
 }

 &__link {
  color: #fff;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
 }

 &-toggle {
  display: none;
  font-size: 13px;
  color: #656c6e;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  background: url(/assets/images/navigation-toggle@2x.webp) no-repeat;
  background-color: #fff;
  background-size: 15px 11px;
  background-position: 93% 50%;
  padding-left: 7%;
  height: 45px;
  line-height: 45px;

  @include sp {
   display: block;
  }

 }

}


// 
.m-main-visual {
 background-color: #b7c0c7;
 width: 100%;
 height: 295px;
 max-height: 900px;
 position: relative;
 overflow: hidden;

 @include sp {
  margin-top: 50px;
  height: 340px;
 }

 &-image {
  width: 100%;
  height: 100%;
  position: relative;
 }

 &-logo {
  display: none;
 }

 &-arrow {
  background: url("/assets/images/mainVisual-arrow@2x.webp") no-repeat;
  width: 22px;
  height: 13px;
  background-size: 22px 13px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%)
 }

 &-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/images/mainVisual-overlay@2x.webp") no-repeat;
  background-size: contain;
  background-position: 0 bottom;
 }

 &--product-single {
  height: auto;
  max-height: none;
 }

 &-image {
  line-height: 0;
 }

}